<div class="all_content_wrapper">
  <div class="pannelArea">
    <div class="row">
      <div class="col-md-12">
        <div class="pannelHeading-all rounded-top">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="pan-width-header">
                <h5 class="subHeading-all">Report portal</h5>
                <div class="btnAllRow">
                  <!-- <button type="button" class="btn btn-primary" (click)="printWorkList()">Print Worklist</button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      

        <div class="col-md-12 p-0">
          <div class="table-responsive mt-2">
            <!-- <button type="button" class="btn btn-success colorB0" (click)="search()">Search</button>
            <button type="button" class="btn btn-success colorB0" (click)="refreshGrid()">Refresh</button> -->
            <table #dischargeWorkListGrid class="table"></table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="appendForm"></div>